<div ng-switch on="view">
    <div ng-switch-when="list">
        <form ng-submit="addItem(item)">
            <p>Item Name:<input type="text" ng-model="item.name"></p>
            <p>Item Description:<input type="text" ng-model="item.desc"></p>
            <input type="submit" value="Submit">
        </form>
        <table>
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Completed</th>
                    <th>Date Added</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemList track by $index">
                    <td>{{item.name}}</td>
                    <td>{{item.desc}}</td>
                    <td>{{item.status}}</td>
                    <td><input type="checkbox" ng-checked="item.completed"></td>
                    <td>{{item.date.toLocaleString()}}</td>
                    <td><button type="button" ng-click="toComments($index)">comments</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-switch-when="comments">
        <button type="button" ng-click="returnToList()">Return</button>
        <p>{{itemList[currItemIndex].name}}</p>
        <p>{{itemList[currItemIndex].desc}}</p>
        <form ng-submit="addComment(comment)">
            Comment: <textarea rows="8" cols="80" ng-model="comment.text"></textarea>
            <input type="submit" value="Add Comment">
        </form>
        <div ng-repeat="comment in itemList[currItemIndex].comments">
            <p>{{comment.date.toLocaleString()}} {{comment.user}} : {{comment.text}}</p>
        </div>

    </div>
</div>
